@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <br />

    <!--           Viewbag dolu olup olmadığını kontrol ediyorum     -->
    @if (!string.IsNullOrEmpty(ViewBag.btnValue))
    {
        <label>@ViewBag.btnValue</label>
    }
    else
    {
        <label>Buton Boş veya Tıklanmadı!</label>
    }
    <br />


    <!--           Form ile butonu post yapıyorum     -->

    <form>
        <button class="btn btn-primary" value="Tıkladım Gitti!" name="button" asp-action="ButonClick">Tıkla Bana!</button>
    </form>


    <!--       Buda başka bir türlüsü :)    -->
    <br />  
    <input type="button" title="Gonder" value="Buraya da tıkla!" class="btn btn-secondary" onclick="location.href='@Url.Action("ButtonClick2","Home")'" />

    <br />  


    <br /> <br />   <hr />

    <!--            Form ile veri gonderme, model oluşturarakta veriyi alabilirsin yada modelden form oluşturabilirsin  -->

    <form asp-controller="Home" asp-action="Form" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="gidenbox1" required autocomplete="off"/>
        </div>
        <br />  
        <input type="submit" class="btn btn-success"/>
    </form>

</div>
